#variant defconfig
CONFIG_MACH_VASTALTE=y
CONFIG_MACH_VASTALTE_CTC=y
CONFIG_SEC_VASTA_PROJECT=y

#Power Management
CONFIG_SEC_PM=n

CONFIG_FB_MSM_MDSS_HX8394C_TFT_VIDEO_720P_PANEL=y
#CONFIG_FB_MSM8x26_MDSS_CHECK_LCD_CONNECTION=y
#CONFIG_ESD_ERR_FG_RECOVERY=y
CONFIG_FB_MSM_MDSS_MSM8X26=y
CONFIG_FB_MSM_MDSS=y
CONFIG_FB_MSM_MDSS_WRITEBACK=y
CONFIG_BACKLIGHT_LCD_SUPPORT=y
#CONFIG_MDNIE_TFT_MSM8X26=y
CONFIG_LCD_CLASS_DEVICE=y
CONFIG_BACKLIGHT_CLASS_DEVICE=y
CONFIG_SAMSUNG_DEBUG_DISPLAY=y
# CONFIG_BACKLIGHT_GENERIC is not set

#VIBRATOR
#CONFIG_QPNP_VIBRATOR is not set
CONFIG_MSM_VIBRATOR=y

#TKEY LEDS
#CONFIG_LEDS_GPIO=y

#SVC LEDS
CONFIG_LEDS_KTD2026=y

#TSP
#CONFIG_TOUCHSCREEN_ATMEL_MXT1188S=y
#CONFIG_TOUCHSCREEN_MMS252=y
#CONFIG_TOUCHSCREEN_BCMTCH15XXX is not set
#CONFIG_KEYBOARD_CYPRESS_TOUCH is not set
#CONFIG_TOUCHSCREEN_CYTTSP4=y
#CONFIG_TOUCHSCREEN_CYTTSP5=y
#CONFIG_TOUCHSCREEN_CYTTSP5_DEVICETREE_SUPPORT=y
CONFIG_TOUCHSCREEN_ZINITIX_BT532=y

#KEYS
CONFIG_KEYBOARD_GPIO=y
CONFIG_KEYBOARD_ABOV_TOUCH=y

#SENSOR
#CONFIG_SENSORS=y
#CONFIG_SENSORS_BMA255=y
#CONFIG_SENSORS_HSCDTD008A=y
CONFIG_INPUT_POLLDEV=y
#CONFIG_SENSORS_GP2A002=y
#CONFIG_SENSORS_POWERCONTROL=y
#CONFIG_SENSORS_GP2A_VDDCONTROL=y
#CONFIG_SENSORS_K3DH=y
#CONFIG_SENSOR_K3DH_INPUTDEV=y
#CONFIG_SENSORS_SX9500=y
#CONFIG_SENSORS_SX9500_INIT_TOUCH_THRESHOLD=3000
#CONFIG_SENSORS_SX9500_NORMAL_TOUCH_THRESHOLD=17

#CONFIG_PROXIMITY_SENSOR=y
#CONFIG_OPTICAL_TAOS_TMD2672X=y
#CONFIG_SENSORS_ASP01=y

CONFIG_INPUT=y
CONFIG_INPUT_GPIO=y

#S-View(Hall Sensor)
#CONFIG_SENSORS_HALL=y

#CONFIG_SEC_NFC_I2C=y

#Audience
#CONFIG_SND_SOC_ES325=y
#CONFIG_SND_SOC_ES325_SLIM=y
#CONFIG_FW_LOADER=y
#CONFIG_FIRMWARE_IN_KERNEL=y
#CONFIG_EXTRA_FIRMWARE="audience-es325-fw-h-eur.bin"
#CONFIG_EXTRA_FIRMWARE_DIR="firmware/es325"

#CAMERA
CONFIG_MSM_CPP=y
#CONFIG_S5K4ECGX=y
#CONFIG_SR030PC50=y

#USB
CONFIG_USB_ANDROID_SAMSUNG_COMPOSITE=y
CONFIG_USB_ANDROID_SAMSUNG_MTP=y
CONFIG_USB_DUN_SUPPORT=y
CONFIG_USB_HOST_NOTIFY=y
CONFIG_USB_STORAGE_DETECT=y
CONFIG_USB_ANDROID_SAMSUNG_SIDESYNC=y

#MUIC
#CONFIG_MFD_MAX77693=y
#CONFIG_USB_SWITCH_MAX77693=y
#CONFIG_REGULATOR_MAX77693=y
#CONFIG_DI_MUIC=n
#CONFIG_MUIC_INIT_DETECT_DELAY=3000
#CONFIG_MUIC_USB_DETECT_DELAY=17000
#CONFIG_USB_SWITCH_TSU6721=y
CONFIG_SM5502_MUIC=y

# IRDA support
#CONFIG_IR_REMOCON_MC96=y
#CONFIG_IR_REMOCON_KMINI=y

#Battery charging & BMS
CONFIG_BATTERY_SAMSUNG=y
CONFIG_CHARGER_SMB358=y
CONFIG_BATTERY_BCL=y
CONFIG_QPNP_BMS=y

#BT
no need

#Wifi
#
# Enable Qualcomm Wifi features
#
CONFIG_MSM_PIL_PRONTO=y
CONFIG_WCNSS_CORE=y
CONFIG_WCNSS_CORE_PRONTO=y
CONFIG_WCNSS_MEM_PRE_ALLOC=y

#
# Wifi features (Qualcomm)
#
CONFIG_NET_CORE=y
CONFIG_WIRELESS=y
CONFIG_WIRELESS_EXT_SYSFS=y
CONFIG_WEXT_CORE=y
CONFIG_WEXT_PROC=y
CONFIG_CFG80211=y
CONFIG_CFG80211_DEFAULT_PS=y
#CONFIG_CFG80211_ALLOW_RECONNECT is not set
CONFIG_WLAN=y
CONFIG_WIRELESS_EXT=y
CONFIG_WEXT_PRIV=y

CONFIG_MODULES=y
CONFIG_MODULE_UNLOAD=y
CONFIG_MODULE_FORCE_UNLOAD=y
CONFIG_WCNSS_REGISTER_DUMP_ON_BITE =y

# Earjack
CONFIG_SAMSUNG_JACK=y

#CONFIG_EXTRA_FIRMWARE="audience-es325-fw-h-eur.bin"
