# Chagall PROJECT config
CONFIG_ARCH_MSM8974PRO=y
CONFIG_MACH_CHAGALL=y
CONFIG_MACH_CHAGALL_LTE=y
CONFIG_SEC_LOCALE_JPN=y
CONFIG_MACH_CHAGALL_KDI=y
CONFIG_MSM_ADSPRPC=y

CONFIG_DEFERRED_INITCALLS=y

#
# ODE and DIR Encryption
#
CONFIG_CRYPTO=y
CONFIG_CRYPTO_SHA1=y
CONFIG_CRYPTO_SHA256=y
CONFIG_CRYPTO_AES=y
CONFIG_CRYPTO_CBC=y
CONFIG_ECRYPT_FS=y
CONFIG_WTL_ENCRYPTION_FILTER=y
CONFIG_KEYS_DEBUG_PROC_KEYS=y
CONFIG_CRYPTO_SHA512=y

#
# Wifi features
#
#
# Remove Qualcomm Wifi features
#
# CONFIG_WCNSS_CORE is not set
# CONFIG_WCNSS_CORE_PRONTO is not set
# CONFIG_WCNSS_MEM_PRE_ALLOC is not set

#
# Add Broadcomm Wifi features
#
CONFIG_NET_CORE=y
CONFIG_WIRELESS=y
CONFIG_WIRELESS_EXT_SYSFS=y
CONFIG_WEXT_CORE=y
CONFIG_WEXT_PROC=y
CONFIG_CFG80211=y
CONFIG_CFG80211_DEFAULT_PS=y
CONFIG_CFG80211_ALLOW_RECONNECT=y
CONFIG_WLAN=y
CONFIG_WIFI_CONTROL_FUNC=y
CONFIG_BCM4354=y
CONFIG_BCMDHD_FW_PATH="/system/etc/wifi/bcmdhd_sta.bin"
CONFIG_BCMDHD_NVRAM_PATH="/system/etc/wifi/nvram_net.txt"
CONFIG_BROADCOM_WIFI_RESERVED_MEM=y
CONFIG_WLAN_REGION_CODE=100
CONFIG_MMC_MSM_SDC2_SUPPORT=y
CONFIG_CFG80211_REG_NOT_UPDATED=y

# CONFIG_MSM_PIL_PRONTO is not set
#
# LCD
#
CONFIG_LCD_CLASS_DEVICE=y
CONFIG_BACKLIGHT_LCD_SUPPORT=y
CONFIG_BACKLIGHT_CLASS_DEVICE=y
CONFIG_FB_MSM_MIPI_SAMSUNG_OCTA_CMD_WQXGA_S6TNMR7_PT_PANEL=y

#
# Camera
#
CONFIG_IMX134=y
CONFIG_I2C_ACTUATOR=y
#
# Input
#
CONFIG_TOUCHSCREEN_SYNAPTICS_I2C_RMI=y
CONFIG_KEYBOARD_TC360_TOUCHKEY=y
#
# Earjack
#
#CONFIG_SAMSUNG_JACK is not set
CONFIG_INPUT_GPIO=y
# Audience
#CONFIG_SND_SOC_ES705=y
#CONFIG_SND_SOC_ES705_SLIM=y
#CONFIG_FW_LOADER=y
#CONFIG_FIRMWARE_IN_KERNEL=y
#CONFIG_EXTRA_FIRMWARE_DIR="firmware"

#
# DHA Solution
#

#
# usb
#
CONFIG_USB_DUN_SUPPORT=y
CONFIG_USB_DWC3=y
CONFIG_USB_STORAGE_DETECT=y
CONFIG_USB_HOST_NOTIFY=y

CONFIG_MHL_VERSION=0x21

#
# Enable SEC_PM Feature
#
CONFIG_SEC_PM=y
CONFIG_SEC_PM_DEBUG=y
CONFIG_REGULATOR_MAX77804K=y
#
# Finger print sensor
#
CONFIG_SENSORS_FINGERPRINT=y
CONFIG_SENSORS_FINGERPRINT_SYSFS=y
CONFIG_SENSORS_VFS61XX=y
CONFIG_SENSORS_VFS61XX_KO=y
# CONFIG_SENSORS_ADSP is not set
#
# Sensors
#
CONFIG_SENSORS=y
CONFIG_INPUT_MPU6500=y
CONFIG_INPUT_MPU6500_SELFTEST=y
CONFIG_INPUT_MPU6500_POLLING=y
CONFIG_SENSORS_CM3323=y
CONFIG_SENSORS_AK09911C=y
CONFIG_SENSORS_SX9500=y
CONFIG_SENSORS_SX9500_INIT_TOUCH_THRESHOLD=8000
CONFIG_SENSORS_SX9500_NORMAL_TOUCH_THRESHOLD=10
CONFIG_GLOVE_TOUCH=y
#
# Battery & Charger
#
CONFIG_BATTERY_SAMSUNG=y
CONFIG_BATTERY_SAMSUNG_DATA_FILE="chagallkdi_battery_data.h"
CONFIG_SAMSUNG_LPM_MODE=y
CONFIG_CHARGER_SMB1357=y
# CONFIG_SMB350_CHARGER is not set
# CONFIG_BATTERY_BQ28400 is not set
# CONFIG_BATTERY_MSM is not set
# CONFIG_FUELGAUGE_DUMMY is not set
#
# MAX77804K Charger
#
# CONFIG_QPNP_CHARGER is not set
# CONFIG_QPNP_BMS is not set
CONFIG_FUELGAUGE_MAX17048=y
# CONFIG_CHARGER_MAX77804K is not set
#
# Misc module
#
# CONFIG_KS8851 is not set
CONFIG_SEC_FPGA_ICE40XX=y
CONFIG_DTCP_ION_PHYS=y
CONFIG_IR_REMOCON_FPGA=y
CONFIG_SENSORS_HALL=y
CONFIG_SENSORS_HALL_IRQ_CTRL=y
CONFIG_REGULATOR_MAX77826=y
CONFIG_MFD_MAX77804K=y
CONFIG_MAX77804K_MUIC=y
CONFIG_MUIC_MAX77804K_SUPPORT_MHL_CABLE_DETECTION=y
CONFIG_MOTOR_DRV_MAX77804K=y
CONFIG_VIBETONZ=y
CONFIG_TACTILE_ASSIST=y
CONFIG_LEDS_MAX77804K=y
#
# etc
#
# CONFIG_HID is not set
#
# BT
#
CONFIG_BT_BCM4354=y

#
# extcon
#
CONFIG_EXTCON=y
CONFIG_EXTCON_MAX77804K=y

# SSWAP
CONFIG_SWAP=y
CONFIG_FRONTSWAP=y
CONFIG_ZSMALLOC_NEW=y
CONFIG_PGTABLE_MAPPING=y
CONFIG_ZSWAP=y
CONFIG_DIRECT_RECLAIM_FILE_PAGES_ONLY=y
CONFIG_INCREASE_MAXIMUM_SWAPPINESS=y
CONFIG_FIX_INACTIVE_RATIO=y
CONFIG_TIGHT_PGDAT_BALANCE=y
CONFIG_VNSWAP=y
CONFIG_SWAP_ENABLE_READAHEAD=n

#
# RCU
#
CONFIG_RCU_FAST_NO_HZ=y

#
# NFC features (NXP)
CONFIG_NFC_PN547=y
#
#ISDBT FCI8300 tuner
#
CONFIG_ISDBT=y
CONFIG_ISDBT_FC8300=y
#Fullseg TSIF
CONFIG_TSPP=y
CONFIG_DVB_CORE=y
CONFIG_DVB_MPQ=y
CONFIG_DVB_MPQ_DEMUX=y
#CONFIG_SECURE_DEMUX_ENABLE
CONFIG_DTCP_ION_PHYS=y
